<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies App</title>
</head>
<body>
    <%- include('_nav') %>
    <h1>Movies</h1>
    <input type="button" value="Add Movie" onclick="location.href='/movies/add';">
    <table border="1">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Released Year</th>
                <th>Genre</th>
                <th>Production House</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% movies.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.released_year %></td>
                    <td><%= el.genre %></td>
                    <td><%= el.ProductionHouseId %></td>
                    <td>
                        <input type="button" value="Edit" onclick="location.href='/movies/edit/<%= el.id %>';">
                        <input type="button" value="Delete" onclick="location.href='/movies/delete/<%= el.id %>';">
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>